bachelor-computer-engineering/Integracao_de_Aplicacoes/IADataBus/iaDataBus/NodeConfig/Web References/NodeService/NodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://iadatabus.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://iadatabus.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://iadatabus.org/">
      <s:element name="setParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setParentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addDataType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addDataTypeResponse">
        <s:complexType />
      </s:element>
      <s:element name="removeDataType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeDataTypeResponse">
        <s:complexType />
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Subscribe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="service" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="unSubscribe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="service" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="unSubscribeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unSubscribeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryServerSubscribedDataServices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryServerSubscribedDataServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryServerSubscribedDataServicesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryDataService">
        <s:complexType />
      </s:element>
      <s:element name="QueryDataServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryDataServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryServers">
        <s:complexType />
      </s:element>
      <s:element name="QueryServersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryServersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParentServers">
        <s:complexType />
      </s:element>
      <s:element name="QueryParentServersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryParentServersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="setParentSoapIn">
    <wsdl:part name="parameters" element="tns:setParent" />
  </wsdl:message>
  <wsdl:message name="setParentSoapOut">
    <wsdl:part name="parameters" element="tns:setParentResponse" />
  </wsdl:message>
  <wsdl:message name="addDataTypeSoapIn">
    <wsdl:part name="parameters" element="tns:addDataType" />
  </wsdl:message>
  <wsdl:message name="addDataTypeSoapOut">
    <wsdl:part name="parameters" element="tns:addDataTypeResponse" />
  </wsdl:message>
  <wsdl:message name="removeDataTypeSoapIn">
    <wsdl:part name="parameters" element="tns:removeDataType" />
  </wsdl:message>
  <wsdl:message name="removeDataTypeSoapOut">
    <wsdl:part name="parameters" element="tns:removeDataTypeResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeSoapIn">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="SubscribeSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="unSubscribeSoapIn">
    <wsdl:part name="parameters" element="tns:unSubscribe" />
  </wsdl:message>
  <wsdl:message name="unSubscribeSoapOut">
    <wsdl:part name="parameters" element="tns:unSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="RecDataSoapIn">
    <wsdl:part name="parameters" element="tns:RecData" />
  </wsdl:message>
  <wsdl:message name="RecDataSoapOut">
    <wsdl:part name="parameters" element="tns:RecDataResponse" />
  </wsdl:message>
  <wsdl:message name="QueryServerSubscribedDataServicesSoapIn">
    <wsdl:part name="parameters" element="tns:QueryServerSubscribedDataServices" />
  </wsdl:message>
  <wsdl:message name="QueryServerSubscribedDataServicesSoapOut">
    <wsdl:part name="parameters" element="tns:QueryServerSubscribedDataServicesResponse" />
  </wsdl:message>
  <wsdl:message name="QueryDataServiceSoapIn">
    <wsdl:part name="parameters" element="tns:QueryDataService" />
  </wsdl:message>
  <wsdl:message name="QueryDataServiceSoapOut">
    <wsdl:part name="parameters" element="tns:QueryDataServiceResponse" />
  </wsdl:message>
  <wsdl:message name="QueryServersSoapIn">
    <wsdl:part name="parameters" element="tns:QueryServers" />
  </wsdl:message>
  <wsdl:message name="QueryServersSoapOut">
    <wsdl:part name="parameters" element="tns:QueryServersResponse" />
  </wsdl:message>
  <wsdl:message name="QueryParentServersSoapIn">
    <wsdl:part name="parameters" element="tns:QueryParentServers" />
  </wsdl:message>
  <wsdl:message name="QueryParentServersSoapOut">
    <wsdl:part name="parameters" element="tns:QueryParentServersResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="setParent">
      <wsdl:input message="tns:setParentSoapIn" />
      <wsdl:output message="tns:setParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addDataType">
      <wsdl:input message="tns:addDataTypeSoapIn" />
      <wsdl:output message="tns:addDataTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="removeDataType">
      <wsdl:input message="tns:removeDataTypeSoapIn" />
      <wsdl:output message="tns:removeDataTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input message="tns:SubscribeSoapIn" />
      <wsdl:output message="tns:SubscribeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="unSubscribe">
      <wsdl:input message="tns:unSubscribeSoapIn" />
      <wsdl:output message="tns:unSubscribeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecData">
      <wsdl:input message="tns:RecDataSoapIn" />
      <wsdl:output message="tns:RecDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryServerSubscribedDataServices">
      <wsdl:input message="tns:QueryServerSubscribedDataServicesSoapIn" />
      <wsdl:output message="tns:QueryServerSubscribedDataServicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryDataService">
      <wsdl:input message="tns:QueryDataServiceSoapIn" />
      <wsdl:output message="tns:QueryDataServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryServers">
      <wsdl:input message="tns:QueryServersSoapIn" />
      <wsdl:output message="tns:QueryServersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParentServers">
      <wsdl:input message="tns:QueryParentServersSoapIn" />
      <wsdl:output message="tns:QueryParentServersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setParent">
      <soap:operation soapAction="http://iadatabus.org/setParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDataType">
      <soap:operation soapAction="http://iadatabus.org/addDataType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeDataType">
      <soap:operation soapAction="http://iadatabus.org/removeDataType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://iadatabus.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://iadatabus.org/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unSubscribe">
      <soap:operation soapAction="http://iadatabus.org/unSubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecData">
      <soap:operation soapAction="http://iadatabus.org/RecData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryServerSubscribedDataServices">
      <soap:operation soapAction="http://iadatabus.org/QueryServerSubscribedDataServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDataService">
      <soap:operation soapAction="http://iadatabus.org/QueryDataService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryServers">
      <soap:operation soapAction="http://iadatabus.org/QueryServers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParentServers">
      <soap:operation soapAction="http://iadatabus.org/QueryParentServers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setParent">
      <soap12:operation soapAction="http://iadatabus.org/setParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDataType">
      <soap12:operation soapAction="http://iadatabus.org/addDataType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeDataType">
      <soap12:operation soapAction="http://iadatabus.org/removeDataType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://iadatabus.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://iadatabus.org/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unSubscribe">
      <soap12:operation soapAction="http://iadatabus.org/unSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecData">
      <soap12:operation soapAction="http://iadatabus.org/RecData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryServerSubscribedDataServices">
      <soap12:operation soapAction="http://iadatabus.org/QueryServerSubscribedDataServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDataService">
      <soap12:operation soapAction="http://iadatabus.org/QueryDataService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryServers">
      <soap12:operation soapAction="http://iadatabus.org/QueryServers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParentServers">
      <soap12:operation soapAction="http://iadatabus.org/QueryParentServers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:1300/Node/NodeService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:1300/Node/NodeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>